<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Tuna</title>
    <%- include ('./partials/script-style.ejs') -%> 
</head>

<body>
    <!-- Navigation-->
     <!-- Side bar -->
     <%- include('./partials/navbar.ejs')  %> 

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">SUPER TUNA</h1>
                <p class="lead fw-normal text-white-50 mb-0">Best community for fisherman!</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-3">
            <div class="mb-5 d-flex justify-content-end">
                <form class="float-right">
                    <button class="btn btn-outline-dark" type="button" id="btnNewPost">
                        <i class="bi bi-pencil"></i>
                        New Post
                    </button>
                </form>
            </div>
            <!-- Loop EJS for using view engine -->
            <% data.forEach(post => { %>
                <div class="col-md-12 mt-3">
                    <div class="card" id="cardID_${i}">
                        <div class="card-body p-4">
                            <div class="text-strats">
                                <h5 class="fw-bolder" id="postTitle">
                                    <%= post.title %>
                                </h5>
                                <p id="postDetail">
                                    <%= post.detail %> 
                                </p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-end">
                                <a class="btn btn-outline-dark mt-auto btn-edit" id="btnEdit" href="#"
                                    onClick="callEditModal('<%= post.id %>')">Edit</a>
                                <a class="btn btn-outline-dark mt-auto btn-delete" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>



                    <!-- <div class="row col-md-12 justify-content-center" id="postCard">
                    </div> -->
        </div>
    </section>

    <!-- Modal Edit and Add Blog-->
    <div class="modal" tabindex="-1" id="inputModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <div class="from-group text-center">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Title:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="newTitle" maxlength="20">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Detail:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="newDetail" maxlength="40">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnEditBlog" >Edit</button>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- Footer-->
    <%- include ('./partials/footer.ejs') -%> 
</body>

</html>